@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #2c3547;
    --secondary-color: #080b10;
    --main-font: 'Raleway', sans-serif;
}
body {
    width: 100vw;
    height: calc(100vh - 40px);
    font-family: var(--main-font);
    background-color: var(--main-color);
    color: white;
}
.links__navbar {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}
.links__navbar a {
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.central-content__section{
    width: 100%;
    position: absolute;
    top: calc(50vh - 158px);
}
.profile-picture-section {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}
.profile-picture-section #profile-picture {
    width: 230px;
    justify-self: center;
    border-radius: 50%;
    box-shadow: 3px 0px 20px 0px #080b10;
}
.social-media-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.social-media-links-container{
    height: 100%;
}
.social-media-links-container img{
    width: 30px;
    filter: invert(100%);
}



/*Home Page Styles*/
#home-page-content h1, #home-page-content h2{
    width: 80%;
    text-align: center;
    font-weight: lighter;
}
#home-page-content h1 {
    margin-top: 20px;
    font-size: 25px;
}
#home-page-content h2 {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}



/*Projects Page Styles*/
#projects-container {
    width: 100%;
    margin: 80px 0px 30px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.project-div {
    width: 256px;
    height: 170px;
    margin-bottom: 30px; 
    justify-self: center;
}
.project-div .project-tile{
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    margin-top: 45px;
    display: block;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-color: rgba(8, 11, 16, 0.8);
}
#google-home-clone {
    background-image: url("./assets/images/google-clone.png");
    background-size: cover;
}
#technical_documentation_page {
    background-image: url("./assets/images/technical_documentation_web_page.png");
    background-size: cover;
}
#product_landing_page {
    background-image: url("./assets/images/product_landing_page.png");
    background-size: cover;
}
#tribute_web_page {
    background-image: url("./assets/images/tribute_web_page.png");
    background-size: cover;
}


/*About Me Page Styles*/
#profile-picture--about-me{
    margin-top: calc(50vh - 153px);
    margin-bottom: 10px;
}
#about-me-text {
    margin: 20px 10vw;
    text-align: center;
}
#about-me-text p {
    margin-bottom: 10px;
}