@media (min-width: 650px) {
    .links__navbar {
        width: 20%;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #profile-picture {
        width: 40vw;
    }
    .central-content__section {
        width: 80%;
        position: absolute;
        right: 0;
        top: calc(50vh - 150px);
        display: flex;
    }
    .profile-picture-section {
        width: 60%;
        height: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .social-media-links-container{
        width: 230px;
        height: 70px;
        justify-self: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #home-headers h1 {
        margin: 0;
    } 
    #home-headers h2{
        margin-top: 20px;
    }
    #home-headers {
        width: 40%;
        margin-top: 55px;
    }
    #projects-container{
        width: 80%;
        position: absolute;
        right: 0;
    }
    #about-me-text {
        margin: 25px 20px 0px;
        width: 40%;
    }
}